#!usr/bin/python
# tic tac toe AI demo
# jose berengueres

# FLOW CHART
# board state as a list of numbers. odd is human, even number is PC. number is move index
# 1. display board

import random
names = ["YOU", "CPU"]
move_history = []
allowed = [0,1,2,3,4,5,6,7,8]
board_skin = "   |   |   \n ---------\n   |   |   \n ---------\n   |   |   \n"
bs = list(board_skin)
symbol = list("xo")
where_to_display = [1,5,9,1+23,5+23,9+23,1+46,5+46,9+46]
victory = [[0,1,2],[3,4,5],[6,7,8],[0,3,6],[1,4,7],[2,5,8],[0,4,8],[2,4,6]]

def disp_board():
   for i, cell_id in enumerate(move_history):
      bs[where_to_display[cell_id]]= symbol[i%2]     
   print(''.join(bs))
   
def ask_player():
   while(True):
      c = raw_input('make a move [0-8]:')
      c = int(c)
      if (legal_move(c)):
         move_history.append(c)
         return c

def legal_move(c): 
   if (c in allowed and not c in move_history):
       return True
   return False

def victory_check(player_id):

   for v in victory:
      if ( len( set(v).intersection( set(move_history[player_id::2]))) == 3 ):
         s = "\n*** The Winner is... " + names[player_id] + "\n\n\n"
         print(s)
         quit()
   if (len(list(set(allowed)-set(move_history))) ==0):
      print("\n *** even match ***")
      quit()

def ask_cpu():

   intersect = set(allowed) - set(move_history) 
   l = list (intersect)
   c = random.choice(l)
   print ("cpu moves to...")
   print (c)
   move_history.append(c)

def main():

   print("\n\n\n  TIC TAC TOE DEATH GAME  \n")

   while(True):
      disp_board()

      ask_player() 
      victory_check(0)

      ask_cpu()
      victory_check(1)
   

if __name__ == "__main__":
    main()

